/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    list-style-type: none;
    text-decoration: none;
}
@media screen and (max-width: 1200px) {
    /* Header, logo y nav */
    header {
        width: 100%;
        z-index: 32;
        display: flex;
        font-size: 14px;
        background-color: rgb(255, 123, 0);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    header .logo {
        height: 10vw;
        margin: 2vw;
    }
    .nav__checkbox {
        display: none;
    }
    .menu {
        margin: 2vw;
    }
    .close {
        display: none;
        margin: 2vw;
    }
    #header__menu {
        width: 100%;
        margin: 1vw 0 1vw 0;
        justify-content: center;
        height: 0;
        padding-top: 0;
        overflow: hidden;
        transition: all .5s ease;
    }
    #header__menu ul {
        width: 100%;
        text-align: center;
        padding: 0%;
    }
    #header__menu ul li {
        margin: 0%;
        padding: 1vw;
    }
    #header__menu ul li a{
        color: white;
        font-size: 2.5vh;
        text-decoration: none;
    }
    #nav__checkbox:checked ~ #header__menu {
        background-color: rgb(36, 36, 36);
        display: block;
        height: 30vh;
        padding-top: 3vh;
        padding-bottom: 1vh;
        margin-bottom: 10vw;
      }
    #nav__checkbox:checked ~ label .close {
        display: block;
      }
    #nav__checkbox:checked ~ label .menu {
        display: none;
      }
      /* Home Mobile - Grid+FlexBox */
    h1 {
        display: none;
    }
    #home__section {
        background-color: rgb(0, 0, 0);
        padding: 2vh;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;    
        align-items: center; 
    }
    #home__section div {
        width: 40vw;
    }
    #home__section div img{
        width: 100%;
    }
    section .home__herramientas p, section .home__griferia p, section .home__electricidad p, section .home__insumos p{
        background-color: rgb(116, 116, 116);
        color: #ffffff;
        font-size: 4vw;
        position: relative;
        display: block;
        z-index: 1;
        text-align: center;
    }
    /* Catálogo */
    .card {
        margin: 2vh 0 2vh 0;
    }
    /* Imagen Medios de Pago */
    .mediosDePago {
        width: 100vw;
    }
    .mediosDePago img{
        width: 100%;
    }
    /* Footer */
    footer {
        background-color: rgb(116, 116, 116);
        text-align: center;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    footer .logo {
        width: 30vw;
        margin: 2vw;
    }
    footer img {
        width: 100%;
    }
    #footer__menu {
        display: flex;
        flex-direction: column;
    }
    footer nav ul{
        margin: 0;
        padding: 0;
    }
    footer li {
        margin: 2vh 0 2vh 0;
    }
    footer li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 2.5vh;
        padding: 1vw;
        display: inline;
    }
    #footer__redes {
        padding: 0 15vw 0 15vw;
    }
    #footer__redes ul{
        margin: 0;
        padding: 1vh;
        display: flex;
        align-items: center;
        justify-content:space-around;
        flex-wrap: wrap;
    }
    #footer__redes img {
        width: 10vw;
    }
}

@media screen and (min-width: 1200px) {
header {
    background-color: rgb(255, 123, 0);
    height: 6vw;
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 999;
}
header .logo {
    height: 5vw;
    position: relative;
    display:inline-block;
    top: 0.5vw;
    left: 1vw;
}
#header__menu {
    position: absolute;
    display: inline;
    top: 2vw;
    right: 2vw;
}
#header__menu ul {
    display: inline;
    position: relative;
}
#header__menu ul li {
    padding: 1vw;
    display: inline;
}
#header__menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
#header__menu ul li:hover{
    background-color: black;
}
#nav__checkbox {
    display: none;
}
label .close {
    display: none;
}
label .menu {
    display: none;
}
 /* section */
#home__section {
    background-color: black;
    width: 100vw;
    margin-top: 6vw;
    padding-top: 2vw;
    position: relative;
    text-align: center;
}
section h1{
    display:none;
}

/* Herramientas */

section .home__herramientas{
    height: 32vw;
    width: 32vw;
    margin-right: 3vw;
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Griferia */
section .home__griferia{
    height: 32vw;
    width: 30vw;
    margin-right: 3vw;
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Electricidad e Insumos*/ 
section .home__electricidad, section .home__insumos{
    height: 15vw;
    width: 15vw;
    position: relative;
    display: inline-block;
    text-align: center;
}
section .home__electricidad{
    position: absolute;
    top: 2vw; 
}
section .home__insumos{
    bottom: 0;
}

/*Interiores, Texto e Imagen*/
section .home__herramientas img, section .home__griferia img, section .home__electricidad img, section .home__insumos img {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline;
    left: 0;
    z-index: 0;
}
section .home__herramientas p, section .home__griferia p, section .home__electricidad p, section .home__insumos p{
    background-color: rgba(36, 36, 36, 0.349);
    color: rgb(0, 0, 0);
    font-size: 2vw;
    position: relative;
    display: block;
    z-index: 1;
    bottom: 4vw;
}
/* Página Catálogo */

/*  
#catalogo__article {
    width: 100vw;
    margin-top: 6vw;
    padding-top: 2vw;
    text-align: center;
}
h2 {
    background-color: rgba(105, 105, 105, 0.24);
    font-size: 3vw;
    margin: auto;
    padding: 1.5vw;
}
.listaDePrecios {
    text-align: left;
    padding: 1vw;
}
.listaDePrecios img {
    height: 5vw;
    position: relative;
    display: inline-block;
    left: 2vw;
}
.link-lista p{
    color: black;
    font-size: 1.3vw;
    position: relative;
    display: inline-block;
    top: -1.5vw;
    left: 3vw;
}
h3,h4 {
    font-size: 2vw;
    margin: auto;
    padding: 1vw 0 1vw 0;
}
.catalogo__herramientas, .catalogo__plomeria, .catalogo__electricidad, .catalogo__insumos {
    background-color: rgba(105, 105, 105, 0.24);
    margin: 3vh 0 3vh;
    padding: 0 2vw 2vw 2vw;
    text-align: center;
}
.catalogo div div{
    display: inline;
    text-align: center;
    margin: 1vw;
}
.catalogo div div p{
    display: inline;
    position: absolute;
}
.catalogo div div img {
    height: 15vw;
    width: 15vw;
    display: inline;
}
/* Página Tutoriales */
#tutoriales {
    width: 100vw;
    margin-top: 6vw;
    padding-top: 2vw;
    text-align: center;
}
#tutoriales .videoTutorial {
    background-color: rgba(105, 105, 105, 0.24);
    width: 30vw;
    text-align: left;
    display: inline-block;
    margin: 2vw 1.4vw 2vw 1vw;
}
#tutoriales .videoTutorial iframe{
    width: 100%;
}
/* Página Nosotros */
#nosotros__section {
    width: 100vw;
    margin-top: 6vw;
    padding-top: 2vw;
    text-align: center;
}
.marcas {
    border-right: 2px solid black;
    width: 20vw;
    margin-top: 6vw;
    margin-right: 2vw;
    padding-bottom: 6vw;
    display: inline-block;
}
.marcas h5 {
    margin-top: 2vw;
    margin-bottom: 4vw;
}
.marcas img{
    width: 5vw;
}
.textoNosotros {
    width: 60vw;
    display:inline-flex; 
    align-items: center;
    text-align: left;
}
.textoNosotros img {
    height: 5vw;
    margin: 2vw;
}
.textoNosotros div{
    width: 50vw;
    margin-bottom: 6vw;
}
.textoNosotros div p{
    margin-bottom: 3vw;
}
/* Página Contacto */
#contacto__section {
    width: 100vw;
    margin-top: 6vw;
    padding-top: 2vw;
    text-align: center;
}
#contacto__section .contacto {
    margin-top: 4vw;
    display: flex;
    align-content: center;
}
#datoContacto {
    margin-top: 2vw;
}
#datoContacto, .formulario {
    display: inline;
    text-align: left;
    font-size: 1.5;
    margin-left: 10vw;
}
#datoContacto li{
    width: 3vw;
    display: inline-block;
    margin-top: 10vw;
    margin-left: 0.5vw;
}
#datoContacto img{
    width: 3vw;
    display: inline-block;
}
.formulario {
    width: 30vw;
}
.formulario input, .formulario select, .formulario textarea{
    width: 20vw;
    display: inline-block;
}
.formulario input, .formulario select{
    height: 3vh;
    margin-bottom: 2vh;
}
footer {
    background-color: rgb(177, 177, 177);
    height: 8vw;
    text-align: center;
}
footer img {
    width: 10vw;
    display: inline-block;
}
footer .logo {
    height: 1vw;
    position: relative;
    display:inline-block;
    top: 0.5vw;
    left: 1vw;
}
#footer__menu {
    position: relative;
    display: inline-block;
    text-align: center;
    top: -1vw;
    margin-left: 20vw;
}
footer li, footer ul, footer div {
    display: inline-block;
}
footer li a{
    text-decoration: none;
    color: black;
}
#footer__redes {
    width: 15vw;
    text-align: right;
    margin-top: 1vw;
    margin-left: 15vw;
}
#footer__redes img {
    width: 2vw;
    display: inline-block;
}
}