/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    list-style-type: none;
    text-decoration: none;
}

@media screen {
/* Header, logo y nav */
    header {
        background-color: rgb(255, 123, 0);
        width: 100%;
        z-index: 32;
        font-size: 14px;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    header .logo {
        height: 10vw;
        margin: 2vw;
    }
    .nav__checkbox {
        display: none;
    }
    .menu {
        margin: 2vw 5vw 0  0;
        color: beige;
    }
    .close {
        display: none;
        margin: 2vw 5vw 0  0;
        color: beige;
    }
    #header__menu {
        width: 100%;
        margin: 1vw 0 1vw 0;
        justify-content: center;
        height: 0;
        padding-top: 0;
        overflow: hidden;
        transition: all .5s ease;
    }
    #header__menu ul {
        width: 100%;
        text-align: center;
        padding: 0%;
    }
    #header__menu ul li {
        margin: 0%;
        padding: 1vw;
    }
    #header__menu ul li a{
        color: white;
        font-size: 4vw;
        text-decoration: none;
    }
    #nav__checkbox:checked ~ #header__menu {
        background-color: rgb(36, 36, 36);
        display: block;
        height: 52vw;
        padding-top: 3vh;
        padding-bottom: 1vh;
        margin-bottom: 10vw;
    }
    #nav__checkbox:checked ~ label .close {
        display: block;
    }
    #nav__checkbox:checked ~ label .menu {
        display: none;
    }
/* Home  - Grid+FlexBox */
    h1 {
        display: none;
    }
    h2, h3 {
        text-align: center;
        font-family: 'Anton', sans-serif;
    }
    section {
        background-color: rgb(0, 0, 0);
        padding: 5vw 2vw 2vw 2vw;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;    
        align-items: center; 
    }
    section a {
        text-decoration: none;
    }
    #home__section div {
        width: 40vw;
    }
    #home__section div img{
        width: 100%;
    }
    section .home__herramientas p, section .home__plomeria p, section .home__electricidad p, section .home__insumos p{
        background-color: rgb(116, 116, 116);
        color: #ffffff;
        font-size: 4vw;
        position: relative;
        display: block;
        z-index: 1;
        text-align: center;
    }
    /* Catálogo */
    article {
        background-color: rgb(0, 0, 0);
        padding-top: 5vh;
    }
    #catalogo__article h2 {
        font-size: 8vw;
        color: antiquewhite;
        padding-bottom: 2vw;
    }
    #catalogo__article h3 {
        color:rgb(255, 255, 255);
        font-size: 7vw;
        padding-top: 5vh;
    }
    h5 {
        font-size: 5.5vw;
    }
    p {
        font-size: 4.5vw;
    }
    #catalogo__article div div:not(.mediosDePago) {
        background-color: rgb(116, 116, 116);
    }
    #catalogo__herramientas, #catalogo__plomeria, #catalogo__electricidad, #catalogo__insumos {
        margin-bottom: 6vh;
    }
    .card {
        margin: 5vh;
    }
    .card-text {
        height: 8vh;
    }
    /* Imagen Medios de Pago */
    .mediosDePago h3{

        padding-bottom: 5vh;
    }
    .mediosDePago {
        width: 100vw;
        padding-bottom: 5vh;
    }
    .mediosDePago img{
        width: 100%;
    }
    /* Footer */
    footer {
        background-color: rgb(116, 116, 116);
        text-align: center;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    footer .logo {
        width: 30vw;
        margin: 2vw;
    }
    footer img {
        width: 100%;
    }
    #footer__menu {
        display: flex;
        flex-direction: column;
    }
    footer nav ul{
        margin: 0;
        padding: 0;
    }
    footer li {
        margin: 2vh 0 2vh 0;
    }
    footer li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 3.5vw;
        padding: 1vw;
        display: inline;
    }
    #footer__redes {
        padding: 0 15vw 0 15vw;
    }
    #footer__redes ul{
        margin: 0;
        padding: 1vh;
        display: flex;
        align-items: center;
        justify-content:space-around;
        flex-wrap: wrap;
    }
    #footer__redes img {
        width: 8vw;
    }
}
@media screen and (min-width: 425px) {
    #nav__checkbox:checked ~ #header__menu {
        height: 45vw;
    }
    #header__menu ul li a{
        color: white;
        font-size: 4vw;
        text-decoration: none;
    }
    #catalogo__article h2 {
        font-size: 6vw;
        color: antiquewhite;
        padding-bottom: 2vw;
    }
    #catalogo__article h3 {
        color:rgb(255, 255, 255);
        font-size: 5vw;
        padding-top: 5vh;
    }
    h5 {
        font-size: 3.5vw;
    }
    p {
        font-size: 2vw;
    }
    footer li a{
        font-size: 3.25vw;
    }
}
@media screen and (min-width: 769px) {
    header {
        height: 9vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    header img.logo {
        height: 6.5vw;
        margin: 1.25vw;
        padding: 0;
    }
    header a{
        display: inline;
    }
    #header__menu {
        width: auto;
        height: auto;
        display: inline;
        padding-right: 2vw;
    }
    #header__menu ul{
        display: inline;
    }
    #header__menu ul li{
        display: inline;
    }
    #header__menu ul li a{
        font-size: 2vw;
    }
    .menu {
        display: none;
    }
    #catalogo__article h2 {
        font-size: 5vw;
        color: antiquewhite;
        padding-bottom: 2vw;
    }
    #catalogo__article h3 {
        color:rgb(255, 255, 255);
        font-size: 4vw;
        padding-top: 5vh;
    }
    h5 {
        font-size: 3vw;
    }
    p {
        font-size: 1.75vw;
    }
    footer {
        display: flex;
        align-content: flex-start;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    footer li a{
        font-size: 2vw;
    }
    footer .logo {
        width: 20vw;
    }
    footer ul {
        display: flex;
        align-content: flex-start;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #footer__redes {
        padding: 0;
        flex-grow: 1;
    }
    #footer__redes ul a {
        display: block; 
    }
    #footer__redes img {
        width: 3vw;
    } 
}
@media screen and (min-width: 1024px) {
    header {
        height: 10vh;
    }
    header a {
        height: 100%;
    }
    header img.logo {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    section {
        height: 80vh;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 2vw       
    }
    #home__section p {
        font-size: 2.5vw;
    }
    footer{
        display: flex;
        height: 10vh;
        flex-wrap: nowrap;
        align-items: center
    }
    footer li a{
        font-size: 1.3vw;
    }
    footer .logo {
        height: 100%;
    }
    footer ul {
        height: 100%;
        flex-wrap: nowrap;
    }
    #footer__redes ul{
        height: 8vw;
        padding: 0;
        flex-wrap: nowrap;
    } 
    #footer__redes img {
        width: 3vw;
    } 
}