@import '../variables';
@import '../mixins';

header {
    background-color: $principal;
    width: 100%;
    z-index: 32;
    font-size: 14px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: all .5s ease;

    @include media-up(md){
        height: 100%;
    }
    .logo {
        height: $img-sm;
        margin: 2vw;
        transition: all .5s ease;
        @include media-up(sm){
            height: $img-sm+0.5;
        }
        @include media-up(md){
            height: $img-sm+1;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    
    #nav__checkbox {
        display: none;
    }

    #nav__checkbox:checked ~ #header__menu {
        background-color: $secundario;
        display: block;
        height: 52vw;
        padding-top: 3vh;
        padding-bottom: 1vh;
        margin-bottom: 10vw;

        @include media-up(sm){
            height: 45vw;
            #header__menu ul li a{
                font-size: 4vw;
            }
        }

    }
    
    .menu {
        margin-right: 5vw;
        color: $color-claro;
        @include media-up(md){
            display: none;
        }
    }
    
    #nav__checkbox:checked ~ label .menu {
        display: none;
    }

    .close {
        display: none;
        margin-right: 5vw;
        color: $color-claro;
    }
    
    #nav__checkbox:checked ~ label .close {
        display: inline;
    }

    #header__menu {
        width: 100%;
        margin: 1vw 0 1vw 0;
        justify-content: center;
        height: 0;
        padding-top: 0;
        overflow: hidden;
        transition: all .5s ease;
        @include media-up(md){
            width: auto;
            height: auto;
            display: inline;
            padding-right: 2vw;
        }

        & ul {
            width: 100%;
            text-align: center;
            padding: 0%;
            @include media-up(md){
                display:inline;
            }
            & li {
                margin: 0%;
                padding: 1vw;
                @include media-up(md){
                    display:inline;
                }

                a{
                    color: $color-claro;
                    font-size: 4vw;
                    text-decoration: none;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;
                    &:hover {
                        color: $color-hover;
                        background-size: 100% 2px;
                    }
                    @include media-up(sm){
                        display: inline;
                        font-size: 2vw;
                    }
                    @include media-up(lg){
                        height: 10vh;
                    }
                }
            }
        }
    }
}
